li {
    margin-bottom: 10px;
  }
  
  li button {
    display: inline-block;
    margin-left: 10px;
  }
  
  .error {
    background-color: red;
  }
  
  .like {
    display: flex;
    gap: 5px;
    width: 35px;
    height: 35px;
    cursor: pointer;
   /* background-image: url("img/coolicon.svg");
    background-repeat: no-repeat;
    background-position: center; */
  }

.svg-class {
  background-image: url("img/coolicon_red.svg");
  background-repeat: no-repeat;
  background-position: center;
}

#field {
  height: 130px;
  width: 300px;
}